/* css reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dd, ol, ul, figure,
hr, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background: #fff;
  color: inherit;
}


button, input, select, textarea {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  outline: none;
  box-shadow: none;
  appearance: none;
}

img, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
a:active, a:hover {
  outline: none;
}

article, aside, details, figcaption, figure,
footer, header, main, nav, section, summary {
  display: block;
}

/* custom css */

/* default is light mode */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

[data-theme="dark"] {
    --bg-color: #000000;
    --text-color: #ffffff;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}
