/* css reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
dl, dd, ol, ul, figure,
hr, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background: #fff;
  color: inherit;
}


img, svg {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}
a:active, a:hover {
  outline: none;
}

article, aside, details, figcaption, figure,
footer, header, main, nav, section, summary {
  display: block;
}

/* custom css */

/* default is light mode */
:root {
    --bg-color: #ffffff;
    --text-color: #000000;
}

[data-theme="dark"] {
    --bg-color: #000000;
    --text-color: #ffffff;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    padding: 2rem;
}

#theme-toggle{
    position: fixed;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000;
    color: var(--text-color);
}

h1{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
}

.list-container{
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 0 auto;
}

.vote-list{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.vote-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--text-color);
    padding: 0 0 0.75rem 0;
    font-size: 1.25rem;
}

.vote-item label{
    margin-left: 0.75rem;
}